<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= post.views %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= post.published_at %>
  </p>

  <p>
    <strong> View Statiscs :</strong>
    <%= post.view_stat %>
  </p>

  <ul>
    <%- post.comments.each do |c| %>
      <li>
        <%= c.title %>
      </li>
    <% end %>
  </ul>

</div>
